* {
  font-family: 'Inconsolata', monospace;
  /* background-color: rgb(254, 246, 248); */
  background-size: 100%;
}

html{
  min-height: 100%;

}

/* LIBRARY PAGE STYLING */


form.center{
  background: rgb(255, 245, 248);
}

span.lever::after{
  background: #dcedc8;
}

span.lever::before{
  background: #fce4ec;
}


#librarycards{
  padding: 5px;
}

.shelf-list{
  padding: 1px 1px 0px;
}

#card-img{
  max-height:100%;
  max-width: 100%;
}
.card {
  width: 100%;
  min-height: 250px;
  max-height: 100%;
  float: inline-start;
}

.card-title{
  box-shadow: #ec407a;
}
.card-content{
  text-align: center;
  font-weight: bold;
  height: 90%;
}

.btn-floating{
  z-index: 100;
  font-size: 10px;
}

#add-card{
  height: 100%;
  width: 100%;
  height: 250px;
  float: inline-start;
}

#add{
  padding-top: 40%;
}

#enter{
  left: 45%;
  top: 10%;
}

#card-info{
  z-index: 5;
}

#card-info p{
  font-size: 10px;
}

/* SHELF DETAIL PAGE STYLING */

#book-cat{
  position: absolute;
  transform: translateY(-200px);
  right: 10%;
  width: 30%;
  margin: 0;
  padding: 0;
}

#addBooks{
  padding-top: 3%;
  padding-bottom: 10%;
}

span#book-spine{
  width: 1em;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  color:#263238;
}

#librarycards{
  margin-top: 10px;
}

#bookcards.row{
  padding-right: 1%;
  padding-left: 1%;
  padding-bottom: 0;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  border-top: 8px solid #80461B;
  height: 10%;
  background-image: url(https://images.rawpixel.com/image_350/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcGYtczEyNS1ha2U3MDA1LWIuanBn.jpg);
}


.shelf{
  border-right: 12px solid #80461B;
  border-left: 12px solid #80461B;
  border-bottom: 8px solid #80461B;
  background-color: #80461B;
}

#book.col.s1.m1{
  margin: 0;
  margin-top: 10px;
  width: 8.33%;
  max-width: 8.33%;
}

#book{
  margin-top: 15px;
  border-top-right-radius: 15%;
  border-top-left-radius: 15%;
  box-shadow: #303f9f;
  border-bottom: 4px solid #80461B; 
  background-color: #fce4ec;
  border-top: 1px solid #fce4ec;
  border-left: 1px solid #fce4ec;
}

#book:nth-child(2n){
  background-color: #f48fb1;
}

#book:nth-child(3n){
  background-color: #e1bee7;
}

#book:nth-child(4n){
  background-color: #d1c4e9;
}

#book:nth-child(5n){
  background-color: #a999c8;
}

#book:nth-child(6n){
  background-color: #9fa8da;
}

#book:nth-child(7n){
  background-color: #9dabff;
}

#book:nth-child(8n){
  background-color: #c1e3ff; 
}

#book:nth-child(9n){
  background-color: #90caf9; 
}

#book:nth-child(10n){
  background-color: #b2dfdb; 
}

#book:nth-child(11n){
  background-color: #8cc5c1; 
}

#book:nth-child(12n){
  background-color: #c8e6c9; 
}

#book:nth-child(13n){
  background-color: #cbffee; 
}

#book:nth-child(14n){
  background-color: #aed581; 
}

#book:nth-child(15n){
  background-color: #fba9d7; 
}

#book:nth-child(16n){
  background-color: #fff176; 
}

#book:nth-child(17n){
  background-color: #edb0b0; 
}

#book:nth-child(18n){
  background-color: #ffd54f; 
}

#book:nth-child(21n){
  background-color: #eeeeee; 
}







/* NAV BAR STYLING */

#castle-logo{
  max-height: 50px;
  max-width: 50px;
  position: absolute;
  top: 5px;
}

/* LANDING PAGE STYLING */

.valign-wrapper{
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: rgb(255,103,135);
  background: radial-gradient(circle, rgba(255,103,135,1) 0%, rgba(234,205,221,1) 100%);
  z-index: 0;
  padding-top: 10px;
  padding-bottom: 30%;
  top: 0%;
  position: relative;

}

#landing-block.container{
  padding-top: 25px;
  width: 78%;
  justify-content: center;
  align-items: center;
}

.landing-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  z-index: 1;
  position: absolute;
  top: 25%;
}
#landing-block > div > p {
  opacity: 0.5;
  font-style: italic;
  z-index: 1;
  transform: translateY(-25px);
  
}

#underline{
  text-decoration: underline;
}

/* SIGN IN/UP */

/* FORM STYLING */

form{
  padding: 20px;
  margin-top: 60px;
  background: rgb(255,103,135);
  background: radial-gradient(circle, rgba(255,103,135,1) 0%, rgba(234,205,221,1) 100%);
}

form label {
  color: #fff8e1;
}

form button, form h5{
  border-radius: 33%;
  margin: 20px 0;
}

form button{
  margin-left: 45%;
  margin-right: 50%;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #fff8e1;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #fff8e1 !important;
}
