* {
  font-family: 'Inconsolata', monospace;
  /* background-color: rgb(254, 246, 248); */
  background-size: 100%;
}

html{
  min-height: 100%;

}

/* LIBRARY PAGE STYLING */

#librarycards{
  padding: 5px;
}

.shelf-list{
  padding: 1px 1px 0px;
}


#card-img{
  max-height:100%;
  max-width: 100%;
}
.card {
  width: 100%;
  min-height: 250px;
  max-height: 100%;
  float: inline-start;
}

.card-title{
  box-shadow: #ec407a;
}
.card-content{
  text-align: center;
  font-weight: bold;
  height: 90%;
}

.btn-floating{
  z-index: 100;
  font-size: 10px;
}

#add-card{
  height: 100%;
  width: 100%;
  height: 250px;
  float: inline-start;
}

#add{
  padding-top: 40%;
}

#enter{
  left: 40%;
  top: 30%;
}

#card-info{
  z-index: 5;
}

#card-info p{
  font-size: 10px;
}

/* SHELF DETAIL PAGE STYLING */


span#book-spine{
  display: inline-block;
  width: 1em;
  
  column-width: 1em;
  column-count: 1; 

  writing-mode: vertical-rl;
  text-orientation: sideways;
}

/* .book{
  padding-left: 100px;
} */

/* NAV BAR STYLING */

#castle-logo{
  max-height: 50px;
  max-width: 50px;
  position: absolute;
  top: 5px;
}

/* LANDING PAGE STYLING */

.valign-wrapper{
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: rgb(255,103,135);
  background: radial-gradient(circle, rgba(255,103,135,1) 0%, rgba(234,205,221,1) 100%);
  z-index: 0;
  padding-top: 10px;
  padding-bottom: 30%;
  top: 0%;
  position: relative;

}

#landing-block.container{
  padding-top: 25px;
  width: 78%;
  justify-content: center;
  align-items: center;
}

.landing-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  z-index: 1;
  position: absolute;
  top: 25%;
}

#landing-block > div > p {
  opacity: 0.5;
  font-style: italic;
  z-index: 1;
  transform: translateY(-25px);
  
}

#underline{
  text-decoration: underline;
}

/* SIGN IN/UP */

/* FORM STYLING */

form{
  padding: 20px;
  margin-top: 60px;
  background: rgb(255,103,135);
  background: radial-gradient(circle, rgba(255,103,135,1) 0%, rgba(234,205,221,1) 100%);
}

form label {
  color: #fff8e1;
}

form button, form h5{
  border-radius: 33%;
  margin: 20px 0;
}

form button{
  margin-left: 45%;
  margin-right: 50%;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #fff8e1;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #fff8e1 !important;
}




/* For devices smaller than 950px */
@media (max-width: 950px) {
  #castle-logo {
    left: 10px; 
  }
  .landing-img{
    top: 35%;
  }

}

/* For devices smaller than 700px
@media (max-width: 400px) {
  #castle-logo {
    width: 80px;
    left: 5px;
  }
  .landing-img{
    top: 40%;
  }
} */